#hat {
    width: 99%;
    background-color: #66ccff;
    padding: 10px;
    height: 120px;
    border-radius: 15px;
}

#logo {
    float: left;
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

#hatText {
    font-weight:700;
    color: #007acc;
    font-size: 120%;
    font-family: Arial;
    background-color: #b3e6ff;
    padding: 10px;
    border-radius: 10px;
}

nav {
    float: right;
    max-width: 960px;
    background-color: #007acc;
    border-radius: 10px;
}

    nav ul {
        margin: 0;
        padding: 2px 2px 3px 10px;
        list-style-type: none;
    }

        nav ul li {
            margin-right: 10px;
            display: inline-block;
        }

    nav a {
        color: #b3e6ff;
        text-decoration: none;
    }

#contentBlock1 {
    color: #007acc;
    max-width: 800px;
    background-image: url('blockbg.png');
    /*background-color: #b3e6ff;*/
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
    /*opacity: .8;*/
}

    #contentBlock1 a {
        color: #007acc;
    }

#table {
    color: #007acc;
    max-width: 800px;
    background-image: url('blockbg.png');
    max-width: 800px;
    /*background-color: #b3e6ff;*/
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
    /*opacity: .8;*/
}

#t1 {
    border: 2px solid;
    border-color: #007acc;
    border-collapse: collapse;
}

    #t1 th {
        border: 2px solid;
        border-color: #007acc;
    }

    #t1 td {
        border: 2px solid;
        border-color: #007acc;
    }

    #t1 tbody tr:nth-child(even) {
        background-color: #66ccff;
        /*color: white;*/
    }

    #t1 tbody tr:nth-child(odd) {
        background-color: #b3e6ff;
        /*color: white;*/
    }

#form1 {
    color: #007acc;
    max-width: 800px;
    background-image: url('blockbg.png');
    max-width: 800px;
    /*background-color: #b3e6ff;*/
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
    /*    opacity: .8;*/
}

.content h2 {
    opacity: 1;
    text-align: center;
}

#footer {
    color: #004d80;
    border-radius: 15px;
    width: 99%;
    background-color: #66ccff;
    padding: 10px;
}

#golub {
    border-radius: 10px;
    border: 2px solid;
    border-color: #007acc;
}
